<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Dysplasia Classifier</title>
<p><a href="{{ url_for('about') }}">About page</a></p>
<h2>Select a radiograph to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

{% if hip_infos %}
    {% for display_info in hip_infos %}
        <div>
            <p><b>Prediction for {{ display_info.model }}</b></p>
        </div>
        <div>
            <img src="{{ url_for('display_prediction_image', file_name='../static/predictions/'+display_info.file_name) }}">
        </div>
        <div>
            <p>
                The Norberg Angle for the left hip is {{ display_info.left_hip_angle }}, resulting in a class {{ display_info.left_hip_class.value }} classification.
            </p>
            <p>
                The Norberg Angle for the right hip is {{ display_info.right_hip_angle }}, resulting in a class {{ display_info.right_hip_class.value }} classification.
            </p>
        </div>
        <br>
    {% endfor %}
{% endif %}
<script src="../static/upload.js"></script>

<p>Select models to be used in predicting the Norberg Angles:</p>
<form method="post" action="/" enctype="multipart/form-data">
    <input type="checkbox" id="ResNet" name="Model" value="ResNet">
    <label for="ResNet">ResNet 50 model - Direct regression (Trained on ImageNet)</label><br>

    <input type="checkbox" id="U-Net" name="Model" value="U-Net">
    <label for="U-Net">U-Net model - Gaussian Heat map regression</label><br>
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>

