<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Dysplasia Classifier</title>
<h2>Select a radiograph to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

{% if prediction_filename %}
	<div>
		<img src="{{ url_for('display_prediction_image', prediction_filename='../static/predictions/'+prediction_filename) }}">
	</div>
    <div>
        <p>
            The Norberg Angle for the left hip is {{ left_hip_norberg }}, resulting in a class {{ left_hip_classification }} classification.
        </p>
        <p>
            The Norberg Angle for the right hip is {{ right_hip_norberg }}, resulting in a class {{ right_hip_classification }} classification.
        </p>
    </div>
{% endif %}

<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>