<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Dysplasia Classifier</title>
<p><a href="{{ url_for('about') }}">About page</a></p>
<h2>Select a radiograph to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

{% if prediction_filename %}
	<div>
		<img src="{{ url_for('display_prediction_image', prediction_filename='../static/predictions/'+prediction_filename) }}">
	</div>
    <div>
        <p>
            The Norberg Angle for the left hip is {{ left_hip_norberg }}, resulting in a class {{ left_hip_classification }} classification.
        </p>
        <p>
            The Norberg Angle for the right hip is {{ right_hip_norberg }}, resulting in a class {{ right_hip_classification }} classification.
        </p>
    </div>
{% endif %}
<script src="../static/upload.js"></script>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>

<p>Select models to be used in predicting the Norberg Angles:</p>
<form>
    <input type="checkbox" id="ResNet" name="Model" value="ResNet">
    <label for="ResNet">ResNet 50 model (Trained on ImageNet)</label><br>

    <input type="checkbox" id="Mask R-CNN" name="Model" value="Mask R-CNN">
    <label for="Mask R-CNN">Mask R-CNN model (Trained on COCO)</label><br>
    <input type="submit" onsubmit="submitRadiographs()" value="Submit">
</form>

